python-dotenv
Pillow
streamlit
streamlit-echarts
streamlit-extras
streamlit-toggle-switch
snowflake-snowpark-python
snowflake-connector-python
st_clickable_images
plotly
streamlit-option-menu
Markdown
python==3.8
